$baseColor: rgb(4, 21, 69);
$firstColor: rgba(4, 21, 69, 1);
$secondColor: rgba(9, 41, 136, 0.75);
$thirdColor: rgba(6, 34, 117, 1);
$brightColor: seashell;

.grid__row {
    margin: 15px 10px !important;
    padding: 10px 20px !important;
    box-shadow: none !important;
    min-height: 40vh;
    background: $baseColor;
    background: linear-gradient(135deg, $firstColor 0%, $secondColor 79%, $thirdColor 100%);
}

.project-name {
    font-size: 2rem;
    font-weight: 400;
    color: $brightColor;
    letter-spacing: 1.2px;
}

.project-shortcut {
    font-size: 1.2rem;
    font-weight: 300;
    color: $brightColor;
    letter-spacing: 0.6px;
}

.project-image,
.text-column {
    margin: auto !important;
    padding: 0 !important;
}

.image-size-landscape,
.image-size {
    margin: 10px auto !important;
    max-height: 300px !important;
}

.image-size {
    // max-height: fit-content !important;
    border-radius: 12px !important;
}

.ui.celled.grid>.column:not(.row),
.ui.celled.grid>.row>.column {
    box-shadow: none;
}

@media (max-width: 768px) {
    .grid__row {
        margin: 15px 0 !important;
    }

    .ui.celled.grid {
        margin: 0 !important;
        width: 100vw !important;
    }
}