$baseColor: rgb(4, 21, 69);
$firstColor: rgba(4, 21, 69, 1);
$secondColor: rgba(9, 41, 136, 0.75);
$thirdColor: rgba(6, 34, 117, 1);
$brightColor: seashell;

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background: $baseColor;
    z-index: 1000000;

    .toolbar__navigation {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0.5rem 1rem;

        .toolbar__toggle-button {}

        .toolbar__logo {
            margin-left: 1rem;

            a {
                color: $brightColor;
                text-decoration: none;
                font-size: 1.8rem;
            }
        }

        .spacer {
            flex: 1;
        }

        .toolbar_navigation-items {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                padding-right: 1rem;
                display: flex;

                li {
                    padding: 0 0.8rem;

                    a {
                        color: $brightColor;
                        text-decoration: none;
                        font-size: 1.5rem;
                    }

                    a:hover {
                        color: rgb(240, 165, 4);
                    }

                    a:active {
                        color: $brightColor;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .toolbar_navigation-items {
        display: none;
    }
}

@media(min-width: 769px) {
    .toolbar__toggle-button {
        display: none;
    }

    .toolbar__logo {
        margin-left: 0;
    }
}