$baseColor: rgb(4, 21, 69);
$firstColor: rgba(4, 21, 69, 1);
$secondColor: rgba(9, 41, 136, 0.75);
$thirdColor: rgba(6, 34, 117, 1);
$brightColor: seashell;

.resume {
    width: 100%;
    background: $baseColor;
    background: linear-gradient(135deg, $firstColor 0%, $secondColor 79%, $thirdColor 100%);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    margin-top: 1.5rem;
    padding: 0;

    .frameBox {
        max-width: 1300px;
        background: url('../../images/1.png');
        background-size: initial;
        background-repeat: repeat;
        margin: 0 auto;
        padding: 1rem 1.5rem 3rem;

        .frameBox__title {
            padding: 100px 0;

            h1 {
                color: $firstColor;
                font-weight: 200;
                font-size: 3.5rem;
                padding: 0;
                margin-bottom: 0;
            }

            h4 {
                color: $baseColor;
                font-weight: 100;
                font-size: 1.5rem;
                padding: 0;
                margin-top: 0;
            }
        }

        .frameBox__content {
            margin: 0 2rem;
            padding: 2rem;
            border: 2px solid $baseColor;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;

            .content__right__element {
                width: 100%;
                margin: auto;

                h5 {
                    color: $baseColor;
                    font-size: 1.4rem;
                    font-weight: 400;
                }

                p {
                    width: 100%;
                    font-size: 1.1rem;
                    font-weight: 300;
                    color: $baseColor;
                    text-align: justify;
                }

                .table {
                    width: 100%;

                    tbody {
                        width: 100%;

                        tr {
                            padding: 0.3rem 5rem;
                            font-size: 0.9rem;
                            display: flex;
                            justify-content: space-between;

                            th {
                                font-size: 1.5rem;
                                font-weight: 500;
                                color: $baseColor;
                            }

                            td {
                                font-weight: 500;
                                color: $baseColor;
                                font-size: 1rem;

                                i {}
                            }
                        }
                    }
                }

                .resume__buttons {
                    display: flex;
                    justify-content: center;
                }
            }

            .content__element {
                display: flex;
                flex-direction: column;
                margin: 2.5rem 0;
                justify-content: center;
                width: 250px;

                .single-card {
                    list-style: none;
                    padding: 2.5rem 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: $baseColor;
                    height: 100%;

                    li {
                        margin: 0 auto;

                        i {
                            font-size: 4rem;
                            color: $brightColor;
                        }

                        h4 {
                            font-size: 2.3rem;
                            font-weight: 400;
                            letter-spacing: 0.15rem;
                            color: $brightColor;
                        }

                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            li {
                                padding: 0;

                                p {
                                    font-size: 1.3rem;
                                    font-weight: 300;
                                    padding: 0.3rem 0;
                                    margin: 0;
                                    color: $brightColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.resume-image {
    max-width: 400px !important;
    margin: 0 auto !important;
}

.vertical-timeline-element-date {
    color: $baseColor;
    font-size: 1rem !important;
    font-weight: 300 !important;
    display: flex;
    left: 80%;
    opacity: 1;
}

.vertical-timeline::before {
    color: $brightColor;
    width: 2px;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline-element-date {
        // left: 95% !important;
        font-size: 1.2rem !important;
        opacity: 1 !important;
    }
}

@media(max-width: 968px) {
    .resume-image {
        max-width: 300px !important;
    }

    .frameBox {
        // padding: 1rem 0 !important;
        // padding-right: 1rem !important;
    }

    .frameBox__content {
        margin: 0 auto !important;
        padding: 0 !important;
        border: none !important;
    }
}