$baseColor: rgb(4, 21, 69);
$firstColor: rgba(4, 21, 69, 1);
$secondColor: rgba(9, 41, 136, 0.75);
$thirdColor: rgba(6, 34, 117, 1);
$brightColor: seashell;


.about {
    width: 100vw;
    background: $baseColor;
    background: linear-gradient(135deg, $firstColor 0%, $secondColor 79%, $thirdColor 100%);    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 1rem 0;

    .frameBox {
        max-width: 1300px;
        background: url('../../images/1.png');
        background-size: initial;
        background-repeat: repeat;
        margin: 0 auto;
        padding: 1rem 6rem 3rem;

        .frameBox__title {
            padding: 100px 0;

            h1 {
                color: $baseColor;
                font-weight: 200;
                font-size: 3.5rem;
                padding: 0;
                margin-bottom: 0;
                padding-left: 2rem;
            }

            h4 {
                color: $baseColor;
                font-weight: 100;
                font-size: 1.5rem;
                padding: 0;
                padding-left: 2rem;
                margin-top: 0;
            }
        }

        .frameBox__content {
            border: 2px solid $baseColor;
            display: flex;
            flex-direction: column;
            margin: 2.5rem 0;
            justify-content: center;

            .buttons-about {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    }
}

.vertical-timeline-element-subtitle {
    margin-top: 0.8rem !important;
}

@media (max-width: 769px) {
    .about {
        .frameBox {
            padding: 1rem 0;

            .frameBox__content {
                border: none;
            }
        }
    }
}