$baseColor: rgb(4, 21, 69);
$firstColor: rgba(4, 21, 69, 1);
$secondColor: rgba(9, 41, 136, 0.75);
$thirdColor: rgba(6, 34, 117, 1);
$brightColor: seashell;

.contact {
    width: 100%;
    height: 100vh;
    background: $baseColor;
    background: linear-gradient(135deg, $firstColor 0%, $secondColor 79%, $thirdColor 100%);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    margin-top: 1.5rem;
    padding: 0;
    display: flex;
    align-items: center;

    .frameBox {
        width: 60%;
        height: 80%;
        background: url('../../images/1.png');
        background-size: initial;
        background-repeat: repeat;
        margin: 0 auto;
        padding: 1rem 1.5rem 1rem 1.5rem;

        .frameBox__title {
            padding-top: 20px;
            padding-bottom: 40px;

            h1 {
                color: $baseColor;
                font-weight: 200;
                font-size: 3.5rem;
                padding: 0;
                margin-bottom: 0;
                padding-left: 2rem;
            }

            h4 {
                color: $baseColor;
                font-weight: 100;
                font-size: 1.5rem;
                padding: 0;
                padding-left: 2rem;
                margin-top: 0;
            }
        }

        .form-content {
            width: 100%;
            padding: 2rem 0;
            margin: 0 auto;
            border: 2px solid $baseColor;

            .text-primary {
                max-width: 400px;
                width: 100%;
                padding: 0.2rem;
                margin: 0.5rem 0;
            }
        }
    }
}

input[type="text"],
input[type="email"],
textarea {
    background-color: $baseColor !important;
    opacity: 0.95;
}

.ui.button {
    background-color: $baseColor !important;
    color: $brightColor !important;
}

@media (max-width: 768px) {
    .contact {
        margin: 0 auto;
        padding: 100px 0;

        .frameBox {
            width: 100vw;
            height: 100%;
            margin: 0;
            padding: 0 10px;
        }
    }

}