.footer {
    margin: 0 auto;
    padding: 1.5rem 0;


    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .copyright-text {
            margin: 0;
            color: seashell;
            font-weight: 200;
            font-size: 1.2rem;

            a {
                text-decoration: none;
                color: rgb(240, 165, 4);
            }
        }

        .social-icons {
            text-align: right;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            display: flex;

            li {
                padding: 0 1rem;

                a {
                    color: white;
                    text-decoration: none;
                    font-size: 1.5rem;

                    i {}
                }
            }

            li:hover {
                transform: rotate(360deg);
                color: rgb(240, 165, 4);
                transition: 1.5s all;
            }
        }
    }
}