$baseColor: rgb(4, 21, 69);
$firstColor: rgba(4, 21, 69, 1);
$secondColor: rgba(9, 41, 136, 0.75);
$thirdColor: rgba(6, 34, 117, 1);
$brightColor: seashell;

.App {
  text-align: center;
  background: $baseColor;
  background: linear-gradient(135deg, $firstColor 0%, $secondColor 79%, $thirdColor 100%);
  box-sizing: border-box;
}

.scroll-up {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(240, 165, 4);
  background-color: $baseColor;
  margin: 0;
  padding: 0;

  i {
    color: rgb(240, 165, 4);
    font-size: 1.4rem;
  }
}

.scroll-up:hover i {
  transform: translateY(-2px);
  transition: 0.5s all ease-in-out;
}